/* .movienight{
    font-family: 'Stalinist One', cursive !important;
    font-size: 30px !important; 
    font-weight: bold;
    font-style: italic;
    color: yellow !important;
}

.home{
    color: #f2a154 !important;
}

.navbar{
    background-color:rgb(70, 70, 70,0.9);
} */
